.link-container {
  width: 200px;
  height: 100px;
  background-color: lightblue;
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
}

.starship-list {
  display: flex;
}

.starship-details {
  background-color: lightblue;
  border-radius: 5px;
}